.navbar {
  z-index: 1000;
}

header {
  background-color: black;
  display: table-cell;
  text-align: center;
  width: 100vw;
  z-index: 1;
  position: relative;
  vertical-align: middle;
  color: white;
}

.profile {
  display: inline-block;
  margin-top: 60px;
}

.bg {
  z-index: -1;
  top: -20px;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.4;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-image: url("/images/background.jpeg");
  @media (hover: hover) {
    background-attachment: fixed;
  }
}

.navbar {
  padding-left: 18%;
  padding-right: 18%;
}

.nav-link:not(.last) {
  pointer-events: none;
}

.mb-4 {
  padding: 54px 18%;
}

.errorContainer {
  background: #DDAAAA;
  padding: 2px;
  display: none;
  margin-bottom: 25px;
}

.error {
  color: #E03D3D;
}

.successContainer {
  background: #85e085;
  padding: 2px;
  display: none;
  margin-bottom: 25px;
}

.success {
  color: black;
}

.card {
  transition: 0.3s;
}

.delete-form {
  width: 69px;
}

.close-icon,
.hide-icon {
  cursor: pointer;
  width: 69px;
  display: inline;
  background: white;
  border: none;
  opacity: 0.3;
  transition: 0.2s;

  &:active {
    border: none;
    outline: none;
  }

  &:hover {
    opacity: 1;
  }
}
