body,
html {
  background-color: white;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

#mdb-preloader {
  background-color: #eae3eb;
}

#mdb-preloader.loaded {
  opacity: 0;
  transition: 0.3s ease-in 1s;
}

.preloader-wrapper .spinner-yellow-only {
  border-color: #fb0473;
}

.navbar {
  z-index: 1000;
  background-color: #f2f0f5;
  position: fixed;
  width: 100vw;

  a:not(.navbar-brand) {
    font-size: 1.3rem!important;
  }

  .navbar-brand a,
  a {
    font-family: 'Satisfy', sans-serif, cursive !important;
  }

  .navbar-brand {
    font-size: 1.9rem!important;
    padding-top: 0;
    padding-bottom: 0;
    color: #fb0473;
  }
  background-size: cover;
  background-position: center;
  background-image: url("/images/body-bg.jpeg");
}

.nav-link:not(.last) {
  pointer-events: none;
}

.contact-icon {
  color: #fb0473;
}

.submit {
  margin-left: 0;
  margin-top: 25px;
  color: white;
  background-color: #fb0473;
}

.contact-header {
  background-color: black;
  display: table-cell;
  text-align: center;
  width: 100vw;
  z-index: 1;
  position: relative;
  vertical-align: middle;
  color: white;
}

.description {
  display: inline-block;
  margin-top: 67px;

  p {
    font-weight: 400;
    font-size: 25px;
  }

  h1 {
    font-family: 'Satisfy', sans-serif, cursive !important;
  }
}

.bg {
  z-index: -1;
  top: -20px;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-image: url("/images/background.jpeg");
  @media (hover: hover) {
    background-attachment: fixed;
  }
}

.mb-4 {
  margin-bottom: 0 !important;
  background-size: cover;
  background-position: center;
  background-image: url("/images/body-bg.jpeg");
}

.md-form input[type="email"]:not(.browser-default),
.md-form input[type="text"]:not(.browser-default),
.md-form textarea.md-textarea {
  border-bottom: 1px solid #8b99a7;
}

.md-form label {
  color: #a6a6a6;
  font-weight: 400;
}

.form-check {
  padding-left: 0;
}

ul {
  margin-bottom: 0 !important;
}

.errorContainer,
.successContainer {
  padding: 10px;
  border-radius: 2px;
  display: none;
  margin-bottom: 25px;
  transition: 0.4s;
}

.errorContainer {
  background: #DDAAAA;
}

.error {
  color: #E03D3D;
}

.successContainer {
  background: #85e085;
}

.success {
  color: black;
}

.card {
  transition: 0.3s;
}

.delete-form {
  width: 69px;
}

.close-icon,
.hide-icon {
  cursor: pointer;
  display: inline;
  background: white;
  border: none;
  opacity: 0.3;
  transition: 0.2s;

  &:active {
    border: none;
    outline: none;
  }

  &:hover {
    opacity: 1;
  }
}

.centered {
  padding-top: 200px;
  text-align: center;
}

footer {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #333333;
  color: white;
  font-size: 15px;
  display: flex;
  height: 50px;
  justify-content: space-between;
}

.fa-chevron {
  color: white;
}

.return-to-top:hover {
  color: white;
  cursor: pointer;
}
@media screen and (min-width: 1300px) {
  .navbar,
  footer {
    padding-left: 18%;
    padding-right: 17%;
  }

  .mb-4 {
    padding-right: 16%;
    padding-left: 18%;
  }
}
@media screen and (max-width: 1299px) and (min-width: 992px) {
  .navbar,
  footer {
    padding-left: 9%;
    padding-right: 9%;
  }

  .mb-4 {
    padding-right: 7%;
    padding-left: 9%;
  }
}
@media screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 2.2rem !important;
  }
}
@media screen and (max-width: 991px) {
  .description {
    p {
      font-size: 18px;
    }
  }

  .description,
  .mb-4 {
    padding-right: 5%;
    padding-left: 5%;
  }
}
@media screen and (max-width: 991px) and (min-width: 500px) {
  .navbar {
    padding-left: 5%;
    padding-right: 5%;
  }

  footer {
    padding-left: 5%;
    padding-right: 12%;
  }
}
@media screen and (max-width: 499px) {
  .navbar {
    padding-left: 5%;
    padding-right: 2%;
  }

  .description {
    padding-top: 22px;
  }

  footer {
    padding-left: 5%;
    padding-right: 27%;
  }
}
@media screen and (min-width: 1025px) {
  .mb-4 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .contact-header {
    height: 45vh;
  }
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
  .mb-4 {
    padding-top: 18%;
    padding-bottom: 18%;
  }

  .contact-header {
    height: 45vh;
  }
}
@media screen and (max-width: 768px) and (min-width: 450px) {
  .mb-4 {
    padding-top: 15%;
    padding-bottom: 15%;
  }

  .contact-header {
    height: 42vh;
  }
}
@media screen and (min-width: 450px) {
  .admin .flex-container,
  .forms {
    .card {
      width: 420px;
    }
  }

  .forms .logout form {
    padding-right: 20px;
  }

  .h1-responsive {
    font-size: 420%;
  }
}
@media screen and (max-width: 449px) {
  .mb-4 {
    padding-top: 4%;
    padding-bottom: 4%;
  }

  .contact-header {
    height: 30vh;
  }

  .admin .flex-container {
    .card {
      width: 100%;
    }
  }

  .forms {
    .card {
      width: 90%;
    }

    .logout form {
      padding-right: 10px;
    }
  }

  .h1-responsive {
    font-size: 320% !important;
  }
}

.admin .flex-container {
  background-color: #E8ECEF;
  width: 100vw;
  height: 100vh;
  min-height: 500px;
  display: flex;
  justify-content: center;

  .col-sm-8 {
    padding-right: 0;
    padding-left: 0;
  }

  .card {
    margin-top: 4rem;

    label {
      margin-bottom: 0.2rem;
    }
  }

  .btn-margin {
    margin-left: -6px;
  }
}

.forms {
  .logout form {
    width: 100vw;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    z-index: 1000;
    position: fixed;
    top: 0;
    background-color: #E8ECEF;

    button {
      margin: 8px;
    }
  }

  .flex-container {
    padding-top: 80px;
    background-color: #E8ECEF;
    width: 100vw;
    display: inline-block;
    min-height: 100vh;

    .card {
      padding: 8px 25px 20px;
      display: flex;
      margin: 20px auto;

      .buttons {
        display: flex;
        justify-content: flex-end;

        .hide-icon {
          margin-right: -3px;
        }
      }

      ul {
        list-style: none;
        padding: 0 !important;

        .color-change {
          opacity: 0.5;
        }

        li {
          margin-bottom: 15px;
        }
      }
    }
  }
}
