body {
  background-color: white;
  height: 100%;
  width: 100%;
}

#mdb-preloader {
  background-color: #0a0c10;
}

#mdb-preloader.loaded {
  opacity: 0;
  transition: .3s ease-in 1s;
}

.preloader-wrapper .spinner-yellow-only {
  border-color: #da71a9;
}

.fluid-container {
  background-color: #E8ECEF;
  width: 100vw;
  height: 100vh;
}

.navbar {
  z-index: 1000;
  background-color: #f2f0f5;
  position: fixed;
  width: 100vw;
  padding-left: 18%;
  padding-right: 18%;
  a:not(.navbar-brand) {
    font-size: 1.3rem!important;
  }
  a, .navbar-brand a {
    font-family: 'Satisfy', sans-serif, cursive !important;
  }
  .navbar-brand {
    font-size: 1.9rem!important;
    padding-top: 0;
    padding-bottom: 0;
    color: #fb0473;
  }
  background-size: cover;
  background-position: center;
  background-image: url("/images/body-bg.jpeg");
  // background-color: #fef2ff;
}

.nav-link:not(.last) {
  pointer-events: none;
}

.fa, .fas {
  color: #fb0473 !important;
}

.submit {
  margin-left: 0;
  margin-top: 25px;
  color: white;
  background-color: #fb0473;
}

.contact-header {
  background-color: black;
  display: table-cell;
  text-align: center;
  width: 100vw;
  height: 400px;
  z-index: 1;
  position: relative;
  vertical-align: middle;
  color: white;
}

.description {
  display: inline-block;
  margin-top: 60px;

  p {
    font-weight: 400;
    font-size: 18px;
  }
  h1 {
    font-family: 'Satisfy', sans-serif, cursive !important;
  }
}

.bg {
  z-index: -1;
  top: -20px;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .8;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-image: url("/images/background.jpeg");
  @media (hover: hover) {
    background-attachment: fixed;
  }
}

.h1-responsive {
  font-size: 310%;
}

.mb-4 {
  padding: 54px 18%;

  background-size: cover;
  background-position: center;
  background-image: url("/images/body-bg.jpeg");
}

.md-form textarea.md-textarea, .md-form input[type="text"]:not(.browser-default), .md-form input[type="email"]:not(.browser-default) {
  border-bottom: 1px solid #8b99a7;
}

.md-form label {
  color: #a6a6a6;
  font-weight: 400;
}

.form-check {
  padding-left: 0;
}

.errorContainer {
  background: #DDAAAA;
  padding: 2px;
  display: none;
  margin-bottom: 25px;
}

.error {
  color: #E03D3D;
}

.successContainer {
  background: #85e085;
  padding: 2px;
  display: none;
  margin-bottom: 25px;
}

.success {
  color: black;
}

.card {
  transition: 0.3s;
}

.delete-form {
  width: 69px;
}

.close-icon,
.hide-icon {
  cursor: pointer;
  width: 69px;
  display: inline;
  background: white;
  border: none;
  opacity: 0.3;
  transition: 0.2s;

  &:active {
    border: none;
    outline: none;
  }

  &:hover {
    opacity: 1;
  }
}

.centered {
  padding-top: 200px;
  text-align: center;
}

.highlight {
  background: #75f075;
  border-radius: 2px;
}
