{{> header}}

<section class="admin">
<div class=" flex-container">

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <form action="/admin" method="POST">

            <div class="form-group">
              <label for="name">Name</label>
              <input type="name" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password">
            </div>

            <div class="form-group">
              <label class="secret-word" for="word">Hover or click the text box below</label>
              <input onClick="return true" type="text" class="form-control word" name="word">
            </div>

            <div class="btn-margin">
              <button type="submit" class="btn btn-dark">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
</section>

{{> admin-scripts}}
<script src="/js/admin.js"></script>
{{> footer}}
